<!DOCTYPE html>
<head>
	<title>Politinfluence - <%= personObj.name %></title>
	 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 style="display: inline-block;"><%= personObj.name %></h1><h3><%= personObj.party %>
	<p><%= personObj.state %>, district <%= personObj.district %></p>
	<p>Position: <%= personObj.position %></p>
	<p><a href="<%= personObj.link %>">Website</a></p>
</body>