<!DOCTYPE html>
<head>
	<title>Politinfluence | <%= personObj.name.first %> <%= personObj.name.middle %> <%= personObj.name.last %></title>
	 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1><%= personObj.name.first %> <%= personObj.name.middle %> <%= personObj.name.last %></h1><h3><%= personObj.party %></h3>
	<p><%= personObj.state %>, district <%= personObj.district %></p>
	<p>Position: <%= personObj.position %></p>
	<p><a href="<%= personObj.link %>">Website</a></p>
	<p> Total donations: $<%= personObj.donations.total %> (<a href="/person?id=<%= personObj._id %>&pageNum=1&mode=donations">View All</a>)</p>
	
	<div class="grid">
		<div class="row">
			<div class="col-1">
				<div class="row">
					<div class="col-1">
						<h4>Bill</h4>
					</div>
					<div class="col-1">
						<h4>Vote</h4>
					</div>
				</div>
			</div>
			<div class="col-1">
				<h4>Donations</h4>
			</div>
		</div>
		<%
			if(vote) {
				for(var i = ((pageNum-1)*10); (i < voteArr.length && i < pageNum*10); i++){
				var vote = voteArr[i];
		%>
			<div class="row">
				<div class="col-1">
					<div class="row">
						<div class="col-1">
							<h3><%= vote.name %></h3>
							<p><%= vote.desc %></p>
						</div>
						<div class="col-1">
							<h1><%= vote.yn.toUpperCase() %></h1>
						</div>
					</div>
				</div>
				<div class="col-1">
					<% vote.issues.forEach(function(issue){ %>
						<% if(personObj.donations[issue]){ %>
							<h4><%= issue %></h4>
							<p>Pro: $<%= personObj.donations[issue].pro %></p>
							<p>Anti: $<%= personObj.donations[issue].anti %></p>
						<% } %>
					<% }); %>
				</div>
			</div>
		<%
				}
			}
		%>
		<% if(!vote){ %>
			<h1>Sorry, no data is available at this time.</h1>
		<% } %>
	</div>
	<center>
		<% if(pageNum !== 1) { %>
			<a href="/person?id=<%= personObj._id %>&pageNum=<%= pageNum-1 %>">back</a>
		<% } %>
		<a href="/person?id=<%= personObj._id %>&pageNum=<%= pageNum+1 %>">next</a>
	</center>
</body>